.button-margin {
    margin-left: 7px;
}

.search-area {
    text-align: right;
    font-size: 16px;
    align-items: center;
}

.search-inputarea {
    font-size: 16px;
}

.boxdis {
    height: 80%;
}

.btn-success {
    background-color: #00ccd3;
    border: 2px;
}

.spinner {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10
}

.fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

.btuicon {
    margin-top: -40%;
    margin-right: 5px;
    margin-left: -50%;
}

.btna {
    background-color: #00559e;
    color: white;
}

.btna:disabled {
    background-color: #cde4f8;
    color: #00559e;
}

.btnc {
    background-color: #efb400;
    color: white;
}

.btnc:disabled {
    background-color: #f4eedc;
    color: #efb506;
}

.btnd {
    background-color: #d30000;
    color: white;
}

.btnd:disabled {
    background-color: #fbe5e5;
    color: #f61313;
}