.btu:hover {
    cursor: pointer;
}


/*清除btn按钮点击出现的边框*/

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}