<div class="card">
    <div class="card-header" *ngIf="!showPupup">
        检索教师
    </div>
    <div class="card-body " *ngIf="!showPupup">
        <div class="form-group row">
            <label class="col-md-1 col-form--label"></label>
            <label class="col-md-2 col-form--label search-area" for="jiaoshiId">教师编号:</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="jiaoshiId" type="text" placeholder="请输入" [(ngModel)]="jiaoshi" />
            </div>
            <label class="col-md-2 col-form--label search-area" for="jsId">教师姓名:</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="jsId" type="text" placeholder="请输入" [(ngModel)]="js" />
            </div>
        </div>
        <div class="row">
            <label class="col-md-6 col-form--label"></label>
            <button class="btn btn-primary mr-3 col-md-1 boxdis" type="submit " style="width:30px " [disabled]="!(jiaoshi||js) " (click)="search() ">
                搜索
            </button>
            <button class="btn btn-primary mr-3 col-md-1 boxdis" type="submit " style="width:30px " [disabled]="!(jiaoshi||js) " (click)="clear() ">
                清空
            </button>
            <button class="btn btn-primary mr-3 col-md-2 boxdis" type="submit " style="width:30px " (click)="searchall() ">
                查看所有
            </button>
        </div>
    </div>
    <div class="card-header">
        创建教师账号
    </div>
    <div class="card-body" *ngIf="!showPupup">

        <div class="example-header" style="margin-left: 70px;">
            <b>请在以下教师列表中选择：</b>
            <br>注：请先在“教师管理”中创建教师信息，再创建账户。账号名为教师编号，默认密码：123456 </div>
        <div class="row">
            <label class="col-md-2 col-form--label">
                
            </label>
            <label class="col-md-2 col-form--label">
                <input type="radio" value="admin" name="gender" [(ngModel)]="gender" required><b>教务账号</b>
                

            </label>
            <label class="col-md-4 col-form--label" for="passwordId">
                <input type="radio" value="notadmin" name="gender" [(ngModel)]="gender" required> <b>教师账号（含授课教师及辅导员）</b>

            </label>
            <label class="col-md-2 col-form--label" for="passwordId">
                <button class="btn btn-primary mr-3" type="submit" style="width:180px" [disabled]="!(selectedrowids&&selectedrowids.length>0)" (click)="submit()">
                    确认创建
                </button>
            </label>

        </div>
        <div class='alert alert-danger' *ngIf='errorMessage'>
            {{errorMessage}}
        </div>
        <div class="form-group row">
            <ag-grid-angular style="width:800px;height: 540px; margin-left: 7%;" [pagination]="true" [paginationPageSize]="10" class="ag-theme-alpine" #studentinfoGrid (gridReady)="onGridReady($event)" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()"
                [rowData]="rowData" [columnDefs]="columnDefs" [localeText]="localeText" rowMultiSelectWithClick="true">
            </ag-grid-angular>
        </div>

    </div>

</div>

<div *ngIf='loading'>
    <span class="fa fa-spinner spinner">
    </span>
</div>