<div class="card">
    <div class="card-header" *ngIf="!showPupup">
        <b>检索教师</b>
    </div>
    <div class="card-body " *ngIf="!showPupup">
        <div class="form-group row">
            <label class="col-md-1 col-form--label"></label>
            <label class="col-md-2 col-form--label search-area" for="jiaoshiId">教师编号:</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="jiaoshiId" type="text" placeholder="请输入" [(ngModel)]="jiaoshi" />
            </div>
            <label class="col-md-2 col-form--label search-area" for="jsId">教师姓名:</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="jsId" type="text" placeholder="请输入" [(ngModel)]="js" />
            </div>
        </div>
        <div class="row" style="float: right;">

            <button class="btn btn-sm button-margin" type="submit " style="width:90px;height: 33px;background-color: #37a1d3;color: white;margin-left:30px;" [disabled]="!(jiaoshi||js) " (click)="search() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -4%; "><i nz-icon [nzType]="'search'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -15%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -10%;">检索</div>                       
                    </div>
            </button>


            <button class="btn btn-sm button-margin" type="submit " style="width:90px;height: 33px;background-color: #e88527;color: white;margin-left:2px;" [disabled]="!(jiaoshi||js) " (click)="clear() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -4%; "><i nz-icon [nzType]="'reload'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -15%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -10%;">清空</div>                       
                    </div>
            </button>


            <button class="btn btn-sm button-margin" type="submit " style="width:130px;height: 33px;background-color: #e40000;color: white;margin-left:2px;" (click)="searchall() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -3%;margin-left: 3%; "><i nz-icon [nzType]="'file-search'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -8%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -5%; font-size: small; ">查看所有</div>                       
                    </div>
            </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <b>创建教师账号</b>
    </div>
    <div class="card-body" *ngIf="!showPupup">

        <div class="row">
            <div class="example-header col-md-8" style="margin-left: 70px;">
                <b>请在以下教师列表中选择：</b>
                <br>注：请先在“教师管理”中创建教师信息，再创建账户。账号名为教师编号，默认密码：123456
            </div>
            <label class="col-md-2 col-form--label" for="passwordId">
                <button class="btn btn-primary mr-3" type="submit" style="width:110px;font-size: small; background-color: #00559e;color: white;" [disabled]="!(selectedrowids&&selectedrowids.length>0)" (click)="submit()">
                    确认创建
                </button>
            </label>
        </div>
        <div class="row">
            <label class="col-md-1 col-form--label">
                
            </label>
            <label class="col-md-3 col-form--label">
                <input type="radio" value="admin" name="gender" [(ngModel)]="gender" required><b>教务账号</b>
                

            </label>
            <label class="col-md-5 col-form--label" for="passwordId">
                <input type="radio" value="notadmin" name="gender" [(ngModel)]="gender" required> <b>教师账号（含授课教师及辅导员）</b>

            </label>
            <!-- <label class="col-md-2 col-form--label" for="passwordId">
                <button class="btn btn-primary mr-3" type="submit" style="width:120px;background-color: #00559e;color: white;" [disabled]="!(selectedrowids&&selectedrowids.length>0)" (click)="submit()">
                    确认创建
                </button>
            </label> -->

        </div>
        <div class='alert alert-danger' *ngIf='errorMessage'>
            {{errorMessage}}
        </div>
        <div class="form-group row">
            <ag-grid-angular style="width:80%;height: 540px; margin-left: 7%;" [pagination]="true" [paginationPageSize]="10" class="ag-theme-alpine" #studentinfoGrid (gridReady)="onGridReady($event)" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()"
                [rowData]="rowData" [columnDefs]="columnDefs" [localeText]="localeText" rowMultiSelectWithClick="true">
            </ag-grid-angular>
        </div>

    </div>

</div>

<div *ngIf='loading'>
    <span class="fa fa-spinner spinner">
    </span>
</div>