<div class="card">
    <div class="card-header">
        修改密码
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2 col-form--label" for="passwordId">新密码</label>

            <div class="col-md-8">
                <input class="form-control" id="passwordId" type="password" placeholder="请设置6-12位密码" [(ngModel)]="passwordNum" minlength="6" maxlength="12" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <button class="btn btn-primary mr-3" type="submit" style="width:80px;background-color: #00559e; color: white;" [disabled]="!(passwordNum&&passwordNum.length>5&&passwordNum.length<13)" (click)="submit()">
                确认
            </button>
            </div>
        </div>

    </div>

    <div class='alert alert-danger' *ngIf='errorMessage'>
        {{errorMessage}}
    </div>
    <div *ngIf='loading'>
        <span class="fa fa-spinner spinner">
        </span>
    </div>
</div>