<div class="card">
    <div class="card-header">
        查看课程信息（可使用表头控件进行筛选）
    </div>
    <div class="card-body">
        <div class="form-group row" style="align-items: center;">
            <ag-grid-angular style="width:90%; height: 500px;margin-left: 5%; " class="ag-theme-alpine" #courseGrid [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [rowData]="rowData" [columnDefs]="columnDefs">
            </ag-grid-angular>
        </div>

    </div>
</div>
<div class='alert alert-danger' *ngIf='errorMessage'>
    {{errorMessage}}
</div>
<div *ngIf='loading'>
    <span class="fa fa-spinner spinner">
    </span>
</div>