/* Spinner */

.spinner {
    font-size: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10
}

.fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}


/*清除btn按钮点击出现的边框*/

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    box-shadow: none !important;
}