<div class="card">
    <div class="card-header" *ngIf="!lookbuttonclick&&!viewStudentclick ">
        <b>检索班级</b>
    </div>
    <div class="card-body " *ngIf="!lookbuttonclick&&!viewStudentclick ">
        <div class="form-group row">
            <label class="col-md-1 col-form--label search-area" for="passwordId">年级：</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="nianjiId" type="text" placeholder="请输入" [(ngModel)]="nianji" />
            </div>
            <label class="col-md-1 col-form--label search-area" for="passwordId">院系：</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="yuanxiId" type="text" placeholder="请输入" [(ngModel)]="yuanxi" />
            </div>
            <label class="col-md-1 col-form--label search-area " for="passwordId">专业：</label>

            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="zhuanyeId" type="text" placeholder="请输入" [(ngModel)]="zhuanye" />
            </div>
            <label class="col-md-1 col-form--label search-area" for="passwordId">班级：</label>
            <div class="col-md-2">
                <input class="form-control search-inputarea boxdis" id="banjiId" type="text" placeholder="请输入" [(ngModel)]="banji" />
            </div>
        </div>
        <div class="row">
            <label class="col-md-7 col-form--label"></label>

            <!-- <button class="btn btn-primary mr-3 col-md-1 boxdis" type="submit " style="width:30px " [disabled]="!(nianji&&zhuanye&&yuanxi&&banji) " (click)="search() ">
                搜索
            </button>
            <button class="btn btn-primary mr-3 col-md-1 boxdis" type="submit " style="width:30px " [disabled]="!(nianji||zhuanye||yuanxi||banji) " (click)="clear() ">
                清空
            </button>
            <button class="btn btn-primary mr-3 col-md-2 boxdis" type="submit " style="width:30px " (click)="searchall() ">
                查看所有
            </button> -->
            <div class="row mr-3">
                <button class="btn btn-sm button-margin" type="submit " style="width:90px;height: 65%;background-color: #37a1d3;color: white;margin-left:30px;" [disabled]="!(nianji&&zhuanye&&yuanxi&&banji) " (click)="search() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -4%; "><i nz-icon [nzType]="'search'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -15%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -10%;">检索</div>                       
                    </div>
                </button>
            </div>

            <div class="row mr-3">
                <button class="btn btn-sm button-margin" type="submit " style="width:90px;height: 65%;background-color: #e88527;color: white;margin-left:2px;" [disabled]="!(nianji||zhuanye||yuanxi||banji) " (click)="clear() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -4%; "><i nz-icon [nzType]="'reload'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -15%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -10%;">清空</div>                       
                    </div>
                </button>
            </div>
            <div class="row mr-3">
                <button class="btn btn-sm button-margin" type="submit " style="width:130px;height: 65%;background-color: #e40000;color: white;margin-left:2px;" (click)="searchall() ">                   
                    <div class="form-group row" >
                        <div class="col-md-1 col-form--label" style="margin-top: -3%;margin-left: 3%; "><i nz-icon [nzType]="'file-search'" style="margin-top: -40%;"></i></div>
                        <div class="col-md-1 col-form--label" style="margin-left: -8%;"><nz-divider nzType="vertical"></nz-divider></div>
                        <div class="col-md-7 col-form--label"  style="margin-left: -5%; font-size: small; ">查看所有</div>                       
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="card-header " *ngIf="!viewStudentclick ">
        <b>查看所有信息</b>
    </div>
    <div class="card-header " *ngIf="viewStudentclick ">
        <b>学生信息</b>
    </div>
    <div class="card-body ">

        <div style="text-align:center " *ngIf="!lookbuttonclick&&!viewStudentclick ">
            <nz-table #rowSelectionTable [nzFrontPagination]="false " [nzData]="rowData " [nzLoading]="loading " [nzTotal]="total " [(nzPageIndex)]="pageIndex " [(nzPageSize)]="pageSize " [nzShowQuickJumper]="true " [nzShowSizeChanger]="true
                " (nzPageIndexChange)="changePageIndex($event) " (nzPageSizeChange)="changePageSize($event) ">
                <thead>
                    <tr>
                        <th class="col-md-2 "><b>年级</b></th>
                        <th class="col-md-2 "><b>院系</b></th>
                        <th class="col-md-2 "><b>专业</b></th>
                        <th class="col-md-2 "><b>班级</b></th>
                        <th class="col-md-4 "><b>操作</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let data of rowSelectionTable.data ">
                        <td>{{ data.grade }}</td>
                        <td>{{ data.department }}</td>
                        <td>{{ data.majorName}}</td>
                        <td>{{ data.classNumber}}</td>
                        <td>
                            <button class="btn  btn-sm " style="background-color: #00ccd3;color: white;border-radius: 15px;" (click)="choseClass(data) ">
                                查看该班级学生名单
                              </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="card-body " *ngIf="lookbuttonclick ">
            <div class="example-header " style="margin-left: 70px; ">
                <label class="col-md-8 col-form-label " style="font-size: smaller;">选择: {{selectstudentname}}</label>
                <span id="selectedRows "></span>
                <button class="btn btn-primary mr-3 col-md-2 " style="width:150px; background-color: #00559e;font-size: small;" [disabled]="!selectstudentname " type="button " title="查询专业 " (click)="searchInfo() ">
                    查看个人信息
                </button>
            </div>
            <div class="form-group row " style="align-items: center; ">
                <ag-grid-angular style="width:90%; height: 500px;margin-left: 5%; " class="ag-theme-alpine " #courseGrid (gridReady)="onGridReady($event) " [pagination]="true " [paginationPageSize]="12 " [rowData]="rowData " [rowSelection]="rowSelection
                " [localeText]="localeText " (selectionChanged)="onSelectionChanged() " [columnDefs]="columnDefs ">
                </ag-grid-angular>
            </div>
            <button class="btn " type="button " style="width:80px; align-items: flex-end;background-color: #efb400; color: white;" (click)="backtoclass() ">
                返回
              </button>
        </div>
        <div class="card-body " *ngIf="viewStudentclick ">

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">姓名：</label>
                <label class="col-md-6 col-form-label ">{{student.name}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">性别：</label>
                <label class="col-md-6 col-form-label ">{{student.sex}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">学号：</label>
                <label class="col-md-6 col-form-label ">{{student.studentNumber}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">电话号码：</label>
                <label class="col-md-6 col-form-label ">{{student.phoneNumber}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">身份证号码：</label>
                <label class="col-md-6 col-form-label ">{{student.identityCardNumber}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">年级：</label>
                <label class="col-md-6 col-form-label ">{{student.major.grade}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">专业：</label>
                <label class="col-md-6 col-form-label ">{{student.major.majorName}}</label>
            </div>

            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">学院：</label>
                <label class="col-md-6 col-form-label ">{{student.major.department}}</label>
            </div>
            <div class="form-group row ">
                <label class="col-md-3 col-form-label "></label>
                <label class="col-md-3 col-form-label ">状态：</label>
                <label class="col-md-6 col-form-label ">{{student.studentStatus}}</label>
            </div>
            <button class="btn " type="button " style="width:80px; align-items: flex-end; background-color: #efb400; color: white;" (click)="backtostudentlist() ">
            返回
          </button>
        </div>
    </div>
</div>
<div *ngIf='loading'>
    <span class="fa fa-spinner spinner ">
    </span>
</div>
<div class="alert alert-danger " *ngIf="errorMessage ">
    {{errorMessage}}
</div>